.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  width: 60%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: white;
}

.App-link {
  color: #61dafb;
}

.restart-btn
{
  color: white;
  text-decoration: none;
  background-color: #282c34;
  border: none;
  font-size: 16px;
  padding:16px;
}

.restart-btn:hover
{
  background-color: white;
  color: black;
}

.square
{
  border-radius: none;
  font-size: 20px;

}


.dropbtn {
  background-color: inherit;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content button {
  color: black;

  text-decoration: none;
  display: block;
  width:100%;
}

.dropdown-content button:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {
  background-color: white;
  color: black;
}

.active
{
  color: white;
  background-color: tomato;
}
